@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 110px;
  background: #7030A0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 0.7s ease-in-out;
  z-index: 4;
}
.nav__menu-top {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin: auto;
  justify-content: space-around;
  margin-top: 20px;
}
.nav__menu-top .nav-arrow {
  display: flex;
  align-self: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotate(180deg);
  transform: rotate(0deg);
}
.nav.is-open {
  transition: all 0.7s ease-in-out;
  z-index: 4;
  width: 220px;
}
.nav.is-open .nav-icon__xl {
  display: flex;
  align-self: center;
  visibility: visible;
}
.nav.is-open p {
  visibility: visible;
}
.nav.is-open .nav-arrow {
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
  transform: rotate(180deg);
}

.nav-icon__xl {
  display: none;
  visibility: hidden;
  margin-left: -40px;
}

.menu-nav {
  display: flex;
  height: 100%;
}
.menu-nav__item {
  display: flex;
  align-items: center;
  margin-top: 150px;
  gap: 50px;
  flex-direction: column;
  width: 100%;
}
.menu-nav__item a:visited {
  color: #fff;
}
.menu-nav__item .highlighted {
  margin-top: -35px;
}
.menu-nav__item p {
  position: absolute;
  left: 60%;
  margin-top: -23px;
  transform: translateX(-50%);
  visibility: hidden;
}
.menu-nav__item-bottom {
  margin-top: auto;
  margin-bottom: 130px;
}

.home {
  margin-left: 140px;
  font-family: "Raleway", sans-serif;
}

.home-header {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-header h2 {
  color: #7030A0;
}

.home-header-alignment {
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
  margin-right: 60px;
  gap: 10px;
}

.home-header-trailing {
  display: flex;
  font-size: 14px;
  color: rgba(79, 87, 94, 0.7215686275);
}

.home-header-bottom {
  margin-top: 35px;
  display: flex;
}

.home-header-search {
  text-indent: 10px;
  background: none;
  border: none;
  width: 60%;
  border-bottom: 1px solid #D4E3F0;
  color: red;
}
.home-header-search::-moz-placeholder {
  color: #85A5C2;
}
.home-header-search::placeholder {
  color: #85A5C2;
}

.clicked {
  transition: transform 1s ease-in-out;
}

.home-body {
  overflow-y: auto;
  width: 100%;
  max-height: 100vh;
  scrollbar-width: none;
}
.home-body.expanded {
  width: 100%;
}
.home-body::-webkit-scrollbar {
  display: none;
}
.home-body h4 {
  font-weight: 700;
}
.home-body .cards-alignment {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}
.home-body .cards-alignment .progress--bar {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 30px;
}
.home-body .cards-alignment .progress--bar-text {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: -20px;
}

.home-side-bar {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 30px;
  font-family: "Raleway", sans-serif;
  transition: 1s ease-in-out;
  max-height: 100vh;
}
.home-side-bar .side-menu-arrow span {
  transition: transform 0.5s ease-in-out;
  transform: rotate(180deg);
  transform: rotate(0deg);
}
.home-side-bar.closed {
  margin-right: -100%;
  transition: 1s ease-in-out;
}
.home-side-bar.closed .side-menu-arrow span {
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
  transform: rotate(180deg);
}
.home-side-bar__health {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: #e9f0f9;
  margin: 20px 0;
  border-radius: 2rem;
  line-height: 5px;
}

.health__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.health__items .items__header {
  color: #A3C9EA;
}
.health__items .items__text {
  font-weight: 700;
  font-size: 1.3rem;
  color: #5FA1DA;
}
.health__items_divider {
  padding: 10px;
  border-left: solid rgba(164, 189, 211, 0.3960784314) 1px;
  border-right: solid rgba(164, 189, 211, 0.3960784314) 1px;
}

.side-bar-user {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
}
.side-bar-user img {
  border-radius: 50%;
  margin-right: 20px;
}
.side-bar-user h6 {
  font-weight: 700;
  color: #0E426F;
}
.side-bar-user p {
  color: #A3C9EA;
}

.user-lock {
  display: flex;
  align-self: center;
  margin-left: auto;
  margin-top: -20px;
}

.user-appointment-cards {
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}
.user-appointment-cards::-webkit-scrollbar {
  display: none;
}
.user-appointment-cards h6 {
  font-weight: 700;
  color: #0E426F;
}

.btns-default {
  outline: none;
  border: none;
  padding: 10px 10px;
  display: flex;
  border-radius: 30px;
  font-weight: 700;
}

.btns-primary {
  background: #7030A0;
  color: #fff;
  font-weight: 500;
}

.btns-secondary {
  background: #fff;
  border: 1px solid #7030A0;
  color: #7030A0;
}

.card-default {
  z-index: -1;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fff;
  border-radius: 30px;
  padding: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.card-body-default {
  background: #fff;
  padding: 18px 25px;
  margin-top: 25px;
  margin-right: 46px;
  border-radius: 20px;
  flex-wrap: wrap;
}

.cards-avatar {
  border-radius: 20px;
  max-width: 150px;
  margin-right: 10px;
}

.card--btns {
  display: flex;
  align-self: flex-end;
  gap: 8px;
}

.cards-details {
  display: flex;
}
.cards-details img {
  max-height: 50%;
  display: flex;
  align-self: center;
  margin-right: 5px;
  margin-bottom: 15px;
}

.cards-details--items {
  display: flex;
  align-self: center;
  flex-direction: row;
}
.cards-details--items p {
  font-weight: 700;
}
.cards-details--items img {
  max-height: 100px;
}

.cards-text--bottom {
  font-weight: 700;
}

.cards-progress--bar {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-right: 100%;
  width: 100%;
  border-radius: 20px;
  height: 20px;
  background-color: #ccc;
}
.cards-progress--bar .progress {
  border-radius: 20px;
  height: 100%;
  width: 78%;
}
.cards-progress--bar .progress .progress--percentage {
  display: flex;
}
.cards-progress--bar .progress--orange {
  background: #E9A100;
}
.cards-progress--bar .progress--green {
  background: #2A843C;
}
.cards-progress--bar .progress--red {
  background: #E03131;
}

.user-appointment-cards p,
h6 {
  font-weight: 700;
}

.user-card-sports {
  position: relative;
  background: url(../images/medal.png) no-repeat right top rgb(20, 106, 219);
}
.user-card-sports-avatars {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  margin-top: -50px;
}
.user-card-sports h6 {
  color: #fff;
  margin-bottom: 20px;
}
.user-card-sports p {
  line-height: 5px;
}

.sports-avatars img {
  border: 1px solid #fff;
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.sports-avatars img:not(:last-child) {
  margin-right: -12px;
}

.user-card-medic {
  background: url(../images/alchemy.png) no-repeat right bottom #F4FAFF;
}
.user-card-medic p {
  color: #12548D;
}

.post-workout {
  margin-top: 20px;
  margin-bottom: -10px;
}

.user-card-meditate {
  background: url(../images/lotus.png) no-repeat right bottom #F4FAFF;
}
.user-card-meditate p {
  color: #12548D;
}

.calendar-wrapper--overflow {
  overflow-x: auto;
  width: 100%;
  height: 260px;
}

.calendar {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}
.calendar th {
  text-align: left;
}
.calendar th p {
  position: absolute;
  margin-top: -30px;
}
.calendar td {
  font-weight: 700;
  padding: 10px;
}
.calendar .highlighted {
  background-color: #006eff;
  cursor: pointer;
  border-radius: 0 0 30px 30px;
  color: #fff;
}
.calendar .highlighted__inverse {
  background-color: #006eff;
  cursor: pointer;
  border-radius: 30px 30px 0 0;
  color: #fff;
}

.calendar__weekdays {
  color: #5FA1DA;
  font-weight: 700;
}

.calendar__table {
  color: #000;
}

.side-menu-arrow {
  cursor: pointer;
  margin-right: -15px;
  width: 50px;
  height: 100px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  background: #FFFFFF;
  box-shadow: -2px 0 rgba(0, 0, 0, 0.05);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  left: -75px;
  top: 50px;
}

.side-arrow {
  transition: transform 0.5s ease;
}

.card--arrow {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #FFFFFF;
  box-shadow: -2px 0 rgba(0, 0, 0, 0.05);
  border-top-left-radius: 30px;
}

@media screen and (max-width: 526px) {
  .card--btns {
    display: flex;
    width: 100%;
  }
  .progress--bar {
    display: flex;
    margin-left: 0;
  }
}
@media screen and (max-width: 920px) {
  .home-body__cards {
    margin: 15px auto;
  }
  .cards-details {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
  }
  .home-side-bar {
    display: flex;
    margin-right: -100%;
  }
  .home-side-bar.closed {
    transition: all 0.7s ease-in-out;
    background: #F4FAFF;
    position: absolute;
    border-radius: 30px;
    width: 95%;
    margin: 0;
    z-index: 10;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 55px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
  }
  .nav.isOpen {
    height: 100%;
  }
  .nav.isOpen .menu-nav__item {
    visibility: visible;
  }
  .nav .nav__menu-top {
    margin-top: 7px;
  }
  .nav .menu-nav {
    visibility: hidden;
  }
  .home {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .home-header-alignment,
  .home .card--btns {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    font-size: 12px;
  }
  .home-home-body {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .user-appointment-card--blue p {
    line-height: 20px;
  }
}
@media screen and (min-width: 2550px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.675);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.overlay.is-open {
  z-index: 3;
  opacity: 1;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

main {
  flex: 4 1 90%;
  max-width: 100%;
  margin-right: 0;
  background: #F4FAFF;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.home-side-bar {
  flex: 1 1 auto;
}/*# sourceMappingURL=main.css.map */