@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$body-font-family: 'Raleway', sans-serif;

$menu-color:#7030A0;
$primary-color: #F4FAFF;
$secondary-color: #E5E5E5;

$grey-text:#4f575eb8;
$light-blue:#A3C9EA;
$heavy-blue:#5FA1DA;

$activities-text: #12548D;

$icon-spacing: -12px;

$bold: 700;


@mixin hideScrollbars() {
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}




@mixin highlight{
    background-color: #006eff;
    cursor: pointer;
    border-radius: 0 0 30px 30px;
    color: #fff;
}
@mixin highlightInverted{
    background-color: #006eff;
    cursor: pointer;
    border-radius: 30px 30px 0 0;
    color: #fff;
}


@mixin progressBar{
    border-radius: 20px;
    height: 100%;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@mixin transitionEase {
    transition: all 0.7s ease-in-out;
}


@mixin media-sm{
    @media screen and (max-width: 526px) {
        @content;
    }
}


@mixin media-md {
    @media screen and (max-width: 920px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 2550px) {
        @content;
    }
}


// @mixin media-xxl{
//     @media screen and (min-width: 2440px) {
//         @content;
//     }
// }