
@import  
'config',
'./menus/menu',
'./home-header/home-header',
'./home-body/home-body',
'./home-sidebar/home-sidebar',
'./btns/btns',
'./cards/cards-default','./cards/cards-main-content','./cards/sidebar-cards',
'./calendar/calendar',
'./arrows/arrows';

@import
'./responsive/media-small',
'./responsive/media-medium',
'./responsive/media-large',
'./responsive/media--extra-large';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.675);
    opacity: 0;
    transition: opacity 0.3s ease;
    


        &.is-open{
            z-index: 3;
            opacity: 1;
        }

}

.content-wrapper{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
}
main {
    flex: 4 1 90%;
    max-width: 100%;
    margin-right: 0;
    background: $primary-color;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
}
.home-side-bar{

    flex:  1 1 auto;
}

