//defaults styling for buttons
.btns-default {
    outline: none;
    border: none;
    padding: 10px 10px;
    display: flex;
    border-radius: 30px;
    font-weight: 700;
}

.btns-primary {
    background: $menu-color;
    color: #fff;
    font-weight: 500;
}

.btns-secondary {
    background: #fff;
    border: 1px solid $menu-color;
    color: $menu-color;
}

