
.home{
    margin-left:140px;
    font-family: $body-font-family;

    
}
.home-header {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // background: url(/images/chevron-right.png) no-repeat top right ;
    h2 {
        color: $menu-color;
    }
}

.home-header-alignment {
    //alignment
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
    margin-right: 60px;
    gap: 10px;

}

.home-header-trailing {
    display: flex;
    
    font-size: 14px;
    color: $grey-text;

}

.home-header-bottom {
    margin-top: 35px;
    display: flex;

}

.home-header-search {
    text-indent: 10px;
    background: none;
    border: none;
    width: 60%;
    border-bottom: 1px solid #D4E3F0;
    color: red;
    &::placeholder {
        color: #85A5C2;
    }
}


.clicked {
    transition: transform 1s ease-in-out;
   
}

