.calendar-wrapper--overflow {
    overflow-x: auto;
    width: 100%;
    height: 260px;


}

.calendar {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-collapse: collapse;
    width: 100%;


    th {
        text-align: left;

        p {
            position: absolute;
            margin-top: -30px;
        }
    }

    td {
        font-weight: $bold;
        padding: 10px;

    }

    .highlighted {
        @include highlight
    }

    .highlighted__inverse {
        @include highlightInverted
    }
}

.calendar__weekdays {
    color: $heavy-blue;
    font-weight: $bold;
}

.calendar__table {
    color: #000;
}