.home-side-bar{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px;
    font-family: $body-font-family;
    transition:  1s ease-in-out;
    max-height: 100vh;
  
  
    .side-menu-arrow span {
            transition: transform 0.5s ease-in-out;
            transform: rotate(180deg);
            transform: rotate(0deg);
        }
    &.closed{
        margin-right: -100%;
        transition: 1s ease-in-out;   
        
        .side-menu-arrow span {
                transition: transform 0.5s ease-in-out;
                transform: rotate(0deg);
                transform: rotate(180deg);
            }
    }
         

    &__health{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: #e9f0f9;
    margin: 20px 0;
    border-radius:2rem;
    line-height: 5px;
    }
}


.health__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight:  $bold;

            .items__header{
                color: $light-blue;
            }

            .items__text{
                font-weight: $bold;
                font-size: 1.3rem;
                color: $heavy-blue;
            }

    &_divider{
        padding: 10px;
        border-left: solid #a4bdd365 1px;
        border-right: solid #a4bdd365 1px;
    }
         
    
}
.side-bar-user{
       
        margin-top: 40px;
        display: flex;
        align-items: flex-start;
        

        img{
            border-radius: 50%;
            margin-right: 20px;
        }
        h6{
            font-weight: $bold;
            color:#0E426F;
            
        }
        p{
            color: $light-blue;
        }

}
.user-lock{
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-top: -20px;
   
}


.user-appointment-cards{
    
    height: 100%;
    overflow: auto;
    @include hideScrollbars;

    h6{
        font-weight: $bold;
        color:#0E426F
    }
}
