

.home-body {

       overflow-y: auto;
        width: 100%;
        max-height: 100vh;
            &.expanded{
                width: 100%;
            }
        

    @include hideScrollbars;
   
    h4{
        font-weight: $bold;
    }
            
    .cards-alignment {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;

        
         .progress--bar {
             display: flex;
             flex-direction: column;
            max-width: 100%;
             margin-left: 30px;
            
            
         }
         .progress--bar-text{
            display: flex;
            flex-direction: row;
            font-weight: $bold;
            align-self: flex-start;
            margin-top: 20px;
            margin-bottom: -20px;
            
    }
  }
}
