@include media-md {

    .home-body__cards {
        margin: 15px auto;

    }

    .cards-details {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 15px;
    }

    .home-side-bar {
        display: flex;
        margin-right: -100%;

        &.closed {
            @include transitionEase;
            background: $primary-color;
            position: absolute;
            border-radius: 30px;
            width: 95%;
            margin: 0;
            z-index: 10;
        }

    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 60px;
        height: 55px;
        padding: 5px;
        transition: all 0.3s ease-in-out;

        &.isOpen {
            height: 100%;

            .menu-nav__item {
                visibility: visible;
            }
        }

        .nav__menu-top {
            margin-top: 7px;
        }

        .menu-nav {
            visibility: hidden;
        }

    }


    .home {
        margin-left: 20px;
        display: flex;
        flex-direction: column;

        &-header-alignment,
        .card--btns {
            display: flex;
            justify-content: flex-start;
            margin-top: 20px;
            font-size: 12px;
        }

        &-home-body {
            width: 100%;
        }
    }


}

