//I honestly curious if I should do seperate files like "_responsive-sm // _responsive-lg, _responsive-xl"


@include media-sm{

    .card--btns{
    display: flex;
    width: 100%;
    }

    .progress--bar{
        display: flex;
        margin-left: 0 ;
    }
}
