.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 110px;
    background: #7030A0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    @include transitionEase;
    z-index: 4;

    

    &__menu-top {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin: auto;
    justify-content: space-around;
    margin-top: 20px;
        .nav-arrow{
            display: flex;
            align-self: center;
            cursor: pointer;
            transition: transform 0.5s ease-in-out;
            transform: rotate(180deg);
            transform: rotate(0deg);    
             
        }
    }    

    ////////Styles for when nav menu is open
    &.is-open {
        @include transitionEase;
        z-index: 4;
        width: 220px;

        .nav-icon__xl {
            display: flex;
            align-self: center;
            visibility: visible;
        }

        p {
            visibility: visible;
        }
        .nav-arrow {
            transition: transform 0.5s ease-in-out;
            transform: rotate(0deg);
            transform: rotate(180deg);
               }
    }
    //////////////////////////////////////////

}


.nav-icon__xl{
    display: none;
    visibility: hidden;
    margin-left: -40px;
}

.menu-nav {
    display: flex;
    height: 100%;

    &__item {
            display: flex;
            align-items: center;
            margin-top: 150px;
            gap: 50px;
            flex-direction: column;
             width: 100%;
             a:visited{
                color: #fff;
             }
                
             .highlighted {
                            margin-top: -35px;
                        }
                p{
                position: absolute;
                left: 60%;
                margin-top: -23px;
                transform: translateX(-50%);
                visibility: hidden;
                }
        }
        &__item-bottom {
            margin-top: auto;
            margin-bottom: 130px;

        }
}


