.side-menu-arrow {
    cursor: pointer;
    margin-right: -15px;
    width: 50px;
    height: 100px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    background: #FFFFFF;
    box-shadow: -2px 0 rgba(0, 0, 0, 0.05);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    position: absolute;
    left: -75px;
    top: 50px;


}

.side-arrow {
    transition: transform 0.5s ease;
    
}


.card--arrow {

    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: -2px 0 rgba(0, 0, 0, 0.05);
    border-top-left-radius: 30px;

}