.cards-avatar {
    border-radius: 20px;
    max-width: 150px;
    margin-right: 10px;
}

.card--btns {
    display: flex;
    align-self: flex-end;
    gap: 8px;
}

.cards-details {
    display: flex;


    img {
        max-height: 50%;
        display: flex;
        align-self: center;
        margin-right: 5px;
        margin-bottom: 15px;

    }

}

.cards-details--items {
    display: flex;
    align-self: center;

    flex-direction: row;

    p {
        font-weight: $bold;
    }

    img {
        max-height: 100px;
    }
}

.cards-text--bottom {
    font-weight: $bold;
}



.cards-progress--bar {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 100%;
    width: 100%;
    border-radius: 20px;
    height: 20px;
    background-color: #ccc;

    .progress {
        @include progressBar;
        width: 78%;

        .progress--percentage {
            display: flex;
        }
    }

    .progress--orange {
        background: #E9A100;
    }

    .progress--green {
        background: #2A843C;
    }

    .progress--red {
        background: #E03131;
    }
}