.card-default {
    z-index: -1;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    border-radius: 30px;
    padding: 25px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}


.card-body-default {
    background: #fff;
    padding: 18px 25px;
    margin-top: 25px;
    margin-right: 46px;
    border-radius: 20px;
    flex-wrap: wrap;
}