.user-appointment-cards p,
h6 {
    font-weight: $bold;
}
.user-card-sports {
    position: relative;
    background: url(../images/medal.png) no-repeat right top rgb(20, 106, 219);

    &-avatars {
        display: flex;
        align-self: flex-start;
        justify-content: flex-start;
        margin-top: -50px;
    }

    h6 {
        color: #fff;
        margin-bottom: 20px;
    }

    p {
        line-height: 5px;
    }
}

.sports-avatars {
    img {
        border: 1px solid #fff;
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;

        &:not(:last-child) {
            margin-right: $icon-spacing;
        }
    }
}

.user-card-medic {

    background: url(../images/alchemy.png) no-repeat right bottom #F4FAFF;

    p {
        color: $activities-text;
    }
}

.post-workout {
    margin-top: 20px;
    margin-bottom: -10px;
}

.user-card-meditate {
    background: url(../images/lotus.png) no-repeat right bottom #F4FAFF;

    p {
        color: $activities-text;
    }
}